.nav-main {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.574);
    font-size: 2.4vmax;
    /* 1.5rem → 2.4vmax */
    font-weight: bold;
    padding: 0 0.96vmax;
    /* 0.6rem → 0.96vmax */
    display: none;
}

.nav-logo {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.8vmax;
    /* 0.5rem → 0.8vmax */
}

.nav-logo img {
    height: 12vh;
}

.nav-text {
    width: 100%;
    font-size: 2vmax;
    /* 0.8rem → 1.28vmax */
    font-weight: 400;
    padding: 0 1.6vmax;
    /* 1rem → 1.6vmax */
}

.nav-features {
    height: 100vh;
    width: 100%;
}

.nav-features-items {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3vmax;
    margin-top: 1rem;
   
   
   
    padding: 0.8vmax;

}

.nav-features-items i {
   font-size: 2.4vmax;
    /* unchanged */
}

.nav-features-items a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1vmax;
    /* 0.4rem → 0.64vmax */
    padding: 0.8vmax 2.5vmax;
    /* 0.5rem 0.9rem → 0.8vmax 1.44vmax */
    background-color: #389DFB;
    border-radius: 1.28vmax;
 font-size: 1.6vmax;
}

@media (min-width: 1000px) {
   
}